.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    left: 20px;
    background-color: #25D366;
    color: #FFF;
    border-radius: 50%;
    text-align: center;
    font-size: 35px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
    z-index: 100;
    transition: 0.3s;
}

.whatsapp-float:hover {
    background-color: #20ba5a;
    color: white;
    transform: scale(1.1);
}

.whatsapp-float i {
    margin-top: 13px;
}
.chat-text {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #25D366;
    background: white;
    padding: 3px 10px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.logo-slider {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.logo-track {
    display: flex;
    width: calc(200px * 8);
    animation: scroll 20s linear infinite;
}

.logo-track img {
    width: 180px;
    height: 100px;
    object-fit: contain;
    margin: 0 30px;
    transition: 0.3s;
}

.logo-track img:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
.logo-slider:hover .logo-track {
    animation-play-state: paused;
}
