.whatsapp-container {
    position: fixed;
    bottom: 40px;
    left: 20px;
    z-index: 9999;
    text-align: center;
}

.whatsapp-btn {
    width: 60px;
    height: 60px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-text {
    display: block;
    margin-top: 8px;
    background: #25D366;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
}

.logo-slider {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.logo-track {
    display: flex;
    width: calc(200px * 8);
    animation: scroll 20s linear infinite;
}

.logo-track img {
    width: 180px;
    height: 100px;
    object-fit: contain;
    margin: 0 30px;
    transition: 0.3s;
}

.logo-track img:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
.logo-slider:hover .logo-track {
    animation-play-state: paused;
}
